[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
civilservant = "*"
civilservant-core = {editable = true,git = "https://github.com/mitmedialab/civilservantlib"}
civilservant-wikipedia = {editable = true,git = "https://github.com/mitmedialab/civilservantlib-wikipedia"}

[requires]
python_version = "3.7"
